@inherits LayoutComponentBase

@inject NavigationManager navigation
@inject AuthenticationStateProvider authenticationStateProvider


<div class="page">

    <main>
        @Body
    </main>
</div>

<Blazored.Toast.BlazoredToasts />

@code {
   
}
